{%extends 'base.html'%}


{% block Body %}
<div class="container mt-4" >
    
    <div class="p-4 m-4">
        
        
        <div class="col-lg-5 rounded mx-auto border pt-4" id="container-signup">
            <div class="text-center col" >
            
                
            <!-- <hr> -->
            <div class="display-8">Create An Account</div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Create An Account</h3>
            <form action="#" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    
                        {{form.errors}}
                    
                {% endif %}
                <!-- firstname -->
                <div class="form-group col justify-content-center">
                    {{form.username.label}}
                    <br>
                    {{form.username}}
                </div>
                <div class="form-group col justify-content-center">
                    {{form.email.label}}
                    <br>
                    {{form.email}}
                </div>
                <div class="form-group col justify-content-center">
                    {{form.phone.label}}
                    <br>
                    {{form.phone}}
                </div>
                <div class="form-group col justify-content-center">
                    {{form.password1.label}}
                    <br>
                    {{form.password1}}
                </div>
                <div class="form-group col justify-content-center">
                    {{form.password2.label}}
                    <br>
                    {{form.password2}}
                </div>
                <hr>
                <div class="form-group col justify-content-center">
                    <input class="btn btn-sm btn-info" type="submit" value="Create An Account ">
                </div>
                <a href="/login/" style="color: black;" class"justify-content-center">already have an account?</a>
                
            </form>
        </div>
    </div>
    
</div>
{% endblock %}